/* HERO */
.hero__slideshow {
  height: 28.125rem;
  position: relative;
  margin-bottom: 1.56rem; /* deleting */
}

.hero__slider {
  overflow: hidden;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__slider #right-arrow {
  z-index: 5;
  position: absolute;
  color: var(--colorWhite);
  scale: 5;
  right: 3rem;
  cursor: pointer;
  user-select: none;
}

.hero__slider .slide {
  opacity: .75;
}

.hero__slider .slide.active {
  opacity: 1;
  transition-duration: 1.25s;
  transform: scale(1.10);
}

.hero__slider .image-count {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: var(--colorWhite);
  font-size: var(--body-large);
  user-select: none;
}

.hero__bannerCta {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15rem;
  background-color: var(--colorPink);
  display: flex;
  padding: 1.5rem 2rem;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
  justify-content: center;
  width: 30rem;
  height: 10rem;
}

.hero__ctaQuote {
  color: var(--colorWhite);
  text-align: center;
  font-weight: var(--font-bold) !important;
}

.hero__ctaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem 0.8125rem;
  gap: 0.625rem;
  width: 7rem;
  height: 2rem;
  border: 3px solid var(--colorWhite);
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.hero__ctaButton:hover{
  border: 3px solid var(--colorYellow);

}

.hero__ctaButton span {
  color: var(--colorWhite);
  text-align: center;
  font-weight: var(--font-bold) !important;
  white-space: nowrap;
}
