/* WELCOME */
.welcome {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  height: 18.625rem;
  margin: 0 3rem;
}

.welcome__left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  gap: 1.5rem;
}

.welcome__leftTop {
  position: relative;
  width: 20.625rem;
  height: 8.3125rem;
  border-radius: 0.3125rem;
  background: var(--colorBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__businessName {
  width: 14.8125rem;
  color: var(--colorWhite);
  text-align: center;
  font-weight: var(--font-bold) !important;
  display: flex;
  flex-direction: column;
}

.welcome__star1,
.welcome__star2,
.welcome__star3 {
  position: absolute;
}

.welcome__star1 {
  top: 1.25rem;
  right: 3.56rem;
  scale: 1.5;
}

.welcome__star2 {
  top: 2.19rem;
  right: 17.21rem;
  scale: 1.5;
  
}

.welcome__star3 {
  top: 6rem;
  right: 2rem;
  scale: 1.5;
  
}

.welcome__leftBottom {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.welcome__leftBottomLeft {
  border-radius: 0.3125rem;
  background: var(--pinkPrimaryContainer);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.5625rem;
  flex-direction: column;
  gap: 0.28125rem;
  height: 8.75rem;
  position: relative;
}

.welcome__leftBottomLeft img{
  position: absolute;
  top: 0;
  right: 1.25rem;
}

.welcome__message {
  color: var(--pinkOnPrimaryContainer);
  text-align: center;
  font-weight: var(--font-medium) !important;
  font-size: 1.375rem !important;
  padding: .5rem;
}

.director__button{
  position: absolute;
  background-color: #fff;
  display: flex;
  color: var(--colorBlue);
  border-radius: 0.3125rem;
  bottom: .5rem;
  right: .5rem;
  cursor: pointer;
}

.welcome__leftBottomRight {
  position: relative;
  display: flex;
  padding: 0.8125rem 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background: var(--colorYellow);
  width: 9.5rem;
  height: 8.71591rem;
}

.welcome__leftBottomRight img {
  width: 6rem;
  height: 7.09094rem;
  flex-shrink: 0;
}

.badgeVersion {
  position: absolute;
  display: flex;
  width: 0.43638rem;
  height: 0.81819rem;
  justify-content: flex-end;
  top: 50%;
  transform: translateX(-0.1rem);
  color: #111111;
  text-align: center;
  font-weight: var(--font-bold) !important;
}

.welcome__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 1.5rem 2rem;
  align-items: center;
  gap: 1.25rem;
  max-width: 30rem;
}

.welcome__title {
  color: var(--primaryColorBlue);
  font-weight: var(--font-bold) !important;
}

.welcome__text {
  color: var(--darkText);
  text-align: center;
}

.welcome__line {
  margin: 3rem auto 0;
  width: 95%;
  height: 0.125rem;
  background: #eee;
}

@media screen and (max-width: 780px){
  .welcome {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
  }

  .welcome__left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .welcome__leftTop {
    width: 25rem;
  }

  .welcome__star1 {
    right: 5rem;
  }
  
  .welcome__star2 {
    right: 20.5rem;
  
  }
  
  .welcome__star3 {
    right: 2.5rem;
  
  }

  .welcome__leftBottomLeft {
    width: 11.75rem;
  }

  .welcome__leftBottomRight {
    width: 11.75rem;
  }
  
  .welcome__text {
    font-size: var(--label-font-size);
    
  }

}

@media screen and (max-width: 450px){
  .welcome__left {
    gap: .5rem;
  }

  .welcome__leftTop {
    width: 20rem;
  }

  .welcome__star1 {
    right: 3rem;
  }
  
  .welcome__star2 {
    right: 16.5rem;
    scale: 1.5;
  
  }
  
  .welcome__star3 {
    right: 2rem;
  
  }

  .welcome__leftBottom {
    gap: .5rem;
  }

  .welcome__leftBottomLeft {
    width: 9.75rem;
  }

  .welcome__leftBottomRight {
    width: 9.75rem;
  }
}
