.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  gap: 3rem;
  opacity: 0;
}

.offer.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.02);
}

/* LEFT */
.offer__left {
  position: relative;
}

.offer__left img {
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
}

.offer__header {
  margin-top: 1.44rem;
  margin-right: 3.31rem;
  margin-bottom: 1.75rem;
  user-select: none;
}

.offer__left .offer__span {
  display: flex;
}

.offer__left span {
  margin: 0 auto;
  color: var(--lightText);
  text-align: center;
}

.offer__left .offer__h3 {
  padding: 0.8125rem 3.375rem 0.8125rem 0.5625rem;
  justify-content: flex-end;
  gap: 0.625rem;
  background: linear-gradient(90deg, #009bdb 0%, #b90065 100%);
}
.offer__left h3 {
  color: var(--colorWhite);
  text-align: right;
  font-size: var(--display-m-font-size);
  font-weight: var(--font-bold);
  line-height: 72%;
  white-space: nowrap;
}
.offer__left .offer__h5 {
  padding: 0.8125rem 1.1875rem 0.8125rem 0.5625rem;
  justify-content: flex-end;
  gap: 0.625rem;
}

.offer__left h5 {
  color: var(--darkText);
  text-align: right;
  font-size: var(--display-m-font-size);
  font-weight: var(--font-bold);
  line-height: var(--line-height-headline);
}

.offer__left .offer__p {
  display: flex;
  justify-content: flex-end;
}

.offer__left p {
  width: 15rem;
  color: var(--lightText);
}

/* RIGHT */
.offer__right {
  display: flex;
  align-items: flex-end;
  height: 15rem;
}

.offer__info {
  width: 20.4375rem;
}

.offer__info h4 {
  color: var(--darkText);
  font-weight: var(--font-semi-bold) !important;
  margin-bottom: 1.88rem;
}

.offer__bulletPoint,
.offer__bulletAnchor {
  display: flex;
  gap: 0.62rem;
  align-items: center;
  height: 1.25rem;
  margin-bottom: 0.62rem;
}

.offer__bulletPoint p {
  color: var(--lightText);
  letter-spacing: 0.00625rem;
}

.offer__bulletAnchor a {
  color: var(--darkText);
  text-decoration-line: underline;
}

@media screen and (max-width: 900px) {
  .cards {
    margin: 0 1.75rem;
    justify-content: start;
  }

  .offer {
    flex-direction: column;
    height: 30rem;
    gap: 0;
    align-items: start;
  }

  .offer__header {
    margin-bottom: 0.5rem;
  }

  .offer__left .offer__p {
    justify-content: start;
  }

  .offer__right {
    height: 12rem;
  }

  .offer__info {
    width: 100%;
  }

  .offer__info h4 {
    margin-bottom: 0.5rem;
  }
}
