.card{
  max-width: 95rem;
  display: flex;
  overflow: hidden;
}

.offer {
  border: 5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21.3rem;
  gap: 3rem;
  width: 100%;
  padding: 0 10rem;
}

/* LEFT */
.offer__left {
  position: relative;
  height: 15rem;
}

.offer__left img {
  position: absolute;
  top: 0;
  right: 0;
}

.offer__header {
  margin-top: 1.44rem;
  margin-right: 3.31rem;
  margin-bottom: 1.75rem;
}

.offer__left .offer__span {
  display: flex;
}

.offer__left span {
  margin: 0 auto;
  color: var(--lightText);
  text-align: center;
  font-size: var(--label-font-size);
  font-weight: var(--font-medium);
  line-height: 142.857%;
  letter-spacing: 0.00625rem;
}

.offer__left .offer__h3 {
  display: flex;
  padding: 0.8125rem 3.375rem 0.8125rem 0.5625rem;
  justify-content: end;
  align-items: center;
  gap: 0.625rem;
  background: linear-gradient(90deg, #009bdb 0%, #b90065 100%);
}
.offer__left h3 {
  color: var(--colorWhite);
  text-align: right;
  font-size: 3.125rem;
  font-weight: var(--font-bold);
  line-height: 72%;
  white-space: nowrap;
}
.offer__left .offer__h5 {
  display: flex;
  padding: 0.8125rem 1.1875rem 0.8125rem 0.5625rem;
  justify-content: end;
  gap: 0.625rem;
}

.offer__left h5 {
  color: var(--darkText);
  text-align: right;
  font-size: 3.125rem;
  font-weight: var(--font-bold);
  line-height: 2.25rem;
}

.offer__left .offer__p {
  display: flex;
  justify-content: end;
}

.offer__left p {
  width: 15rem;
  padding: 0rem 0.75rem 0.125rem 0rem;
  color: var(--lightText);
  font-size: var(--label-font-size);
  font-weight: var(--font-medium);
  line-height: 142.857%;
  letter-spacing: 0.00625rem;
}

/* RIGHT */
.offer__right {
  display: flex;
  align-items: end;
  height: 15rem;
  width: 24rem;
}

.offer__info {
  width: 20.4375rem;
}

.offer__info h4 {
  color: var(--darkText);
  font-size: var(--title-font-size);
  font-weight: var(--font-semi-bold);
  line-height: 127.273%;
  padding-right: 4rem;
  margin-bottom: 1.88rem;
}

.offer__bulletPoint,
.offer__bulletAnchor {
  display: flex;
  gap: 0.62rem;
  align-items: center;
  height: 1.25rem;
  margin-bottom: 0.62rem;
}

.offer__bulletPoint p {
  color: var(--lightText);
  font-size: var(--label-font-size);
  font-weight: var(--font-medium);
  letter-spacing: 0.00625rem;
}

.offer__bulletAnchor a {
  color: var(--darkText);
  font-size: var(--label-font-size);
  font-weight: var(--font-medium);
  line-height: 142.857%;
  letter-spacing: 0.00625rem;
  text-decoration-line: underline;
}
