/* HEADER TOP */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  height: auto;
}

.header__logo {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.header__logo img {
  height: 100%;
}

.header__info {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.header__quote {
  color: var(--colorPink);
  text-align: right;
  padding-bottom: 0.50rem;
}

.header__contact {
  color: var(--colorBlue);
  text-align: right;
  font-weight: var(--font-bold) !important;
}

.header__contact a {
  color: var(--colorBlue);
}

/* NAVIGATION */
.header__bottom {
  height: 3rem;
}

.header__navItems {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: var(--colorBlue);
}

.header__bottom li {
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-bold) !important;
  color: var(--colorWhite);
  transition: all 0.5s;
}

.header__bottom li:hover {
  background-color: var(--colorPink);
}

#navMenu .active {
  background-color: var(--colorPink);
}

@media screen and (max-width: 900px) {
  .header__top {
    margin: 0 2.5rem;
  }
  
  .header__logo {
    width: 8rem;
    height: 8rem;
  }

  .header__info {
    width: 20rem;
  }

  .header__quote {
    padding-bottom: 0.50rem;
    width: 15rem;
  }
  
}
