.footer {
  padding: 2.56rem 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px solid green;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  width: 13.625rem;
}

.footer__logo p {
  color: var(--colorWhite);
  text-align: center;

}

.footer__siteMap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8125rem;
}

.footer__siteMap h6 {
  color: var(--colorWhite);
  font-weight: var(--font-semi-bold) !important;
}

.footer__siteMap ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
}

.footer__siteMap .links {
  color: var(--colorWhite);

}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8125rem;
}

.footer__contact h6 {
  color: #fff;
  font-weight: var(--font-semi-bold);
}

.footer__contact ul {
  gap: 0.3125rem;
}

.footer__contact p {
  color: var(--colorWhite);

}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8125rem;
}

.footer__social h6 {
  color: var(--colorWhite);
  font-weight: var(--font-semi-bold);

}

.footer__social img {
  width: 1.25rem;
  height: 1.25rem;
}
