.testimonials__bg{
  background: url(../../assets/Chalkboard.jpg);

}

.section__full {
  height: 21.3rem;
  position: relative;
  display: flex;
}

.section {
  /* border: 2px solid green; */
  width: 100%;
  position: relative;
}

.testimonials__family {
  position: absolute;
  bottom: 0;
  right: 2.5rem;
  z-index: 5;
}

.testimonials__cap {
  position: absolute;
  top: 1rem;
  right: 12.75rem;
  width: 8.09738rem;
  height: 5.15906rem;
  transform: rotate(-29.694deg);
  flex-shrink: 0;
}

.testimonials__cards{
  margin: 4rem 0 2rem 3rem ;
  width: 60%;
  color: white;
  font-family: "Playpen Sans", sans-serif;

}

.testimonials__cardsh3{
  position: relative;
  margin-bottom: .5rem;
}

.testimonials__cardsh3 img{
  height: 6rem;
  width: 28rem;
}

.testimonials__cardsh3 h3{
  color: var(--darkText);
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;
  text-shadow: 0px 0px 18px #FFF;
}
.testimonials__slider{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__cardInfo{
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  gap: .25rem;
  opacity: 0;
}

.testimonials__cardInfo.active{
  opacity: 1;
  transition-duration: 0.25s;
  transform: scale(1.01);
}


.testimonials__cards p,
.testimonials__cards h6{
  font-weight: var(--font-light);
}

.testimonials__cards h3,
.testimonials__cards h6{
  font-size: var(--headline-font-size);
}

.testimonials__cards p{
  font-size: var(--body-large);
}




