@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Playpen+Sans:wght@200;400;500;600;700&display=swap");

/* CONSTANTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* COLORS */
  --colorBlue: #009bdb;
  --colorPink: #df1b7d;
  --colorYellow: #fdc800;
  --colorGreen: #6bc30d;
  --colorWhite: #ffffff;
  --primaryColorBlue: #006590;
  --primaryColorPink: #b90065;
  --primaryColorYellow: #755b00;
  --primaryColorGreen: #376b00;
  --pinkPrimaryContainer: #ffd9e3;
  --pinkOnPrimaryContainer: #3e001e;
  --yellowPrimaryContainer: #ffe08f;
  --darkText: #111111;
  --lightText: #777777;

  /* FONT */
  --body-font: "Dosis", sans-serif;

  /* FONT WEIGHT FOR LARGE/MEDIUM*/
  --font-light: 200;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* FONT SIZES FOR LARGE*/
  --display-font-size: 3.5625rem;
  --headline-font-size: 2rem;
  --title-font-size: 1.375rem;
  --label-font-size: 0.875rem;
  --body-large: 1rem;
  /* Miscellaneous Font Size */
  --display-m-font-size: 3.125rem;

  /* LINE HEIGHT FOR LARGE*/
  --line-height-display: 4rem;
  --line-height-headline: 2.5rem;
  --line-height-title: 1.75rem;
  --line-height-label: 1.25rem;
  --line-height-body: 1.5rem;

  /* LETTER SPACING FOR LARGE */
  --letter-spacing-display: -0.01563rem;
  --letter-spacing-label: 0.00625rem;
  --letter-spacing-body: 0.03125rem;
}

body {
  font-family: var(--body-font);
  overflow-x: hidden;
}

.d-text {
  font-size: var(--display-font-size);
  font-weight: var(--font-normal);
  line-height: var(--line-height-display);
  letter-spacing: var(--letter-spacing-display);
}

.head-text {
  font-size: var(--headline-font-size);
  font-weight: var(--font-normal);
  line-height: var(--line-height-headline);
}

.title-text {
  font-size: var(--title-font-size);
  font-weight: var(--font-normal);
  line-height: var(--line-height-title);
}

.label-text {
  font-size: var(--label-font-size);
  font-weight: var(--font-medium);
  line-height: var(--line-height-label);
  letter-spacing: var(--letter-spacing-label);
}

.body-text {
  font-size: var(--body-large);
  font-weight: var(--font-normal);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
}

.section {
  max-width: 65rem;
  margin: 0 auto;
}

.section-med {
  max-width: 75rem;
  margin: 0 auto;
}

.section-full {
  margin: 0 auto;
}

.section__Medium {
  max-width: 76.1875rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* FOR MEDIUM DEVICE */
@media screen and (max-width: 900px) {
  :root {
    /* FONT SIZES FOR LARGE*/
    --display-font-size: 2.8125rem;
    --headline-font-size: 1.75rem;
    --title-font-size: 1rem;
    --label-font-size: 0.75rem;
    --body-large: 0.875rem;

    /* LINE HEIGHT FOR LARGE*/
    --line-height-display: 3.25rem;
    --line-height-headline: 2.25rem;
    --line-height-title: 1.5rem;
    --line-height-label: 1rem;
    --line-height-body: 1.25rem;

    /* LETTER SPACING FOR LARGE */
    --title-spacing-display: 0.00938rem;
    --label-spacing-body: 0.03125rem;
    --body-spacing-label: 0.01563rem;
  }

  .d-text {
    font-size: var(--display-font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height-display);
  }
  
  .head-text {
    font-size: var(--headline-font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height-headline);
  }
  
  .title-text {
    font-size: var(--title-font-size);
    font-weight: var(--font-medium);
    line-height: var(--line-height-title);
  }
  
  .label-text {
    font-size: var(--label-font-size);
    font-weight: var(--font-medium);
    line-height: var(--line-height-label);
    letter-spacing: var(--letter-spacing-label);
  }
  
  .body-text {
    font-size: var(--body-large);
    font-weight: var(--font-normal);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
  }
}

/* FOR MEDIUM DEVICE */
@media screen and (max-width: 600px) {
  :root {
    /* FONT SIZES FOR LARGE*/
    --display-font-size: 2.5rem;
    --headline-font-size: 1.5rem;
    --title-font-size: 0.875rem;
    --label-font-size: 0.6875rem;
    --body-large: 0.75rem;

    /* LINE HEIGHT FOR LARGE*/
    --line-height-display: 2.75rem;
    --line-height-headline: 2rem;
    --line-height-title: 1.25rem;
    --line-height-label: 1rem;
    --line-height-body: 1rem;

    /* LETTER SPACING FOR LARGE */
    --title-spacing-display: 0.00625rem;
    --label-spacing-body: 0.03125rem;
  }

  .d-text {
    font-size: var(--display-font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height-display);
  }
  
  .head-text {
    font-size: var(--headline-font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height-headline);
  }
  
  .title-text {
    font-size: var(--title-font-size);
    font-weight: var(--font-medium);
    line-height: var(--line-height-title);
    letter-spacing: var(--title-spacing-display);
  }
  
  .label-text {
    font-size: var(--label-font-size);
    font-weight: var(--font-medium);
    line-height: var(--line-height-label);
    letter-spacing: var(--letter-spacing-label);
  }
  
  .body-text {
    font-size: var(--body-large);
    font-weight: var(--font-normal);
    line-height: var(--line-height-body);
  }
}
